:root {
    --navbar-text-color: white;
    --text-color: black;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    color: var(--navbar-text-color);
    padding: 1rem;
    justify-content: space-between;
    height: 1.5rem;
}

.navbar-logo {
    font-size: 1.75rem;
}

.navbar-logo a {
    text-decoration: none;
    color: var(--navbar-text-color);
}

.navbar-logo i {
    color: red;
}

.navbar-icons {
    display: flex;
    padding-left: 0;
    font-size: 1.75rem;
}

.navbar-icons li {
    list-style: none;
    padding-right: 0.75em;
}

.video {
    position: sticky;
    top: 0;
    background-color: black;
    text-align: center;
}

.video img {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.info-hashtag {
    display: flex;
    margin: 8px 0 0 0;
    padding: 0 12px;
}

.info-hashtag li {
    list-style: none;
    padding-right: 12px;
}

.info-hashtag a {
    text-decoration: none;
    color: #065FD4;
    font-size: 1rem;
}

.info-title {
    display: flex;
    margin-top: 4px;
    padding: 0 12px;
}

.info-title i {
    background-color: antiquewhite;
    height: 20px;
}

.info h5 {
    color: gray;
    padding: 0 12px;
    margin: 3px 0 0 0;
}

.info-icons {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
}

.info-icons li {
    list-style: none;
}

.info hr {
    margin: 0 12px;
}

.channel {
    display: flex;
    align-items: center;
    width: 100%;
}

.channel img {
    width: 50px;
    height: 50px;
    padding: 12px;
}

.channel-info {
    padding-left: 12px;
}

.channel-info h5 {
    padding-left: 0;
}

.channel button {
    border-color: transparent;
    font-size: 1rem;
    width: 5rem;
    height: 3rem;
    color: rgb(78, 75, 75);
}

.next h4 {
    color: gray;
    padding-left: 12px;
    margin: 15px 0;
}

.next-videos li {
    padding-left: 0;
    list-style: none;
    margin-bottom: 15px;
}

.next-videos img {
    width: 11rem;
    height: 7rem;
}

.next-videos span {
    display: block;
}

.next-video {
    display: flex;
}

.next-video-info {
    padding-left: 12px;
}

.next-video-channel {
    color: gray;
    font-size: 0.75rem;
}

.next-video-view {
    color: gray;
    font-weight: bold;
    font-size: 0.75rem;
}

@media screen and (min-width: 48rem) {
    .container {
        display: flex;
    }

    .info {
        flex-basis: 50%;
    }

    .next {
        flex-basis: 50%;
    }
}